{% extends 'partials/base.html.twig' %}
{% block content %}
<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ page.content }}
  {% for article in page.collection %}
  <h2> {{article.title }}</h2>
  <p>{{ article.summary }}<a href="{{article.url}}">Lire l'article</a></p>
  <hr>
  {% endfor %}
</div>
{% endblock %}
